<form [formGroup]="emailForm" (ngSubmit)="onSubmit()">

    <h6 *ngIf="ok"> {{emailForm.get('name').value}} </h6>
  
    <label>
      Search Movies Here: 
      <input type="text" formControlName="name"><br>
      <div *ngIf="submitted && emailForm.controls.name.errors" class="err">
        <div *ngIf="emailForm.controls.name.errors.required">You cannot submit the form without a name</div>
        <div *ngIf="emailForm.controls.name.errors.minlength">A valid name needs to have at least 3 characters</div>
      </div>
    </label>
  
    
    <input type="submit" value="Search Movies" class="btnsub">
     <input type="reset" value="Clear Form" class="btnsub">
  
  </form>