<p>movie-table works!</p>
<div ng-app="music-video-app" ng-controller="movieTableCtrl">

  <table>
    <tr>
      <td>
        <button>Watch Movie</button>
      </td>
      <td>"Movie Name"</td>
      <td>"Movie Desc"</td>
      <td>"image"</td>
      <td>"movie value api-id"</td>
    </tr>
  </table>

</div>

<div class="container">



  <div *ngFor="let movie of movies">
    <div class="movie">

      <section class="shortDesc">{{ movie.shortdesc }}</section>
      <section>{{ movie.longdesc }}</section>
      <section class="sizeAndPrice">{{ movie.unitsize }}</section>
      <section class="sizeAndPrice">{{ movie.unitprice}}</section>

    </div>

  </div>

</div>