/* header {
	background-color: #ad66ff;   
}

header .logo {
	font-weight: bold;
}

header nav {
	justify-self: right;
}

nav ul {
	list-style-type: none;
	margin:0;
	padding: 0;
}

nav ul li {
	float: left;
}

nav ul li a {
	padding: 1.4em;
	font-size: 0.9em;
	text-transform: uppercase;
}

nav ul li a:hover {
	background-color: #5b1ba3;  
}


.logo, nav ul li a{
	color: white !important;
} */


.logo {
	background-image: url("https://st2.depositphotos.com/3687485/9010/v/600/depositphotos_90102796-stock-illustration-cinema-film-clapper-board-vector.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 48px;
	height: 48px;
  }
  
  .navbar-nav .nav-item:hover {
	background-color: rgba(180, 190, 203, 0.4);
  }
  