<div class="search">
  <app-search-movies>

</app-search-movies>


</div>
<div class="movie-table">
  <app-movie-table>

  </app-movie-table>
</div>

<div class = "formData">

  
<section *ngIf="submitted" class="finalresults">
  <h4>Data you are submitting</h4>
  <p><em>Name:</em> <span>{{ emailForm.controls.name.value }}</span></p>
  </section>
</div>
  <div class="container">
      


        <div *ngFor="let movie of movies">
          <div class="movie">
           
         <section class="shortDesc">{{ movie.shortdesc }}</section>
          <section>{{ movie.longdesc }}</section>
          <section class="sizeAndPrice">{{ movie.unitsize }}</section>
          <section class="sizeAndPrice">{{ movie.unitprice}}</section>
          
        </div>
  
 </div>
  
    </div>
    